<h3>Realtime monitor</h3>
<h4>Device monitor</h4>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Device name</th>
    <th>Temperature</th>
    <th>Humid</th>
    <th>Soil</th>
    <th>Last update</th>
  </tr>
  </thead>
  <tbody ng-hide="vm.environs.length <= 0">
  <tr ng-repeat="environ in vm.environs">
    <td>{{environ.device.name}}</td>
    <td>{{environ.temp}}</td>
    <td>{{environ.humid}}</td>
    <td>{{environ.soil}}</td>
    <td>
      {{
      environ.createdDate.hour + ':' + environ.createdDate.minute + ':' + environ.createdDate.second
      + ':' + (environ.createdDate.nano / (1000 * 1000) )
      + ' ' + environ.createdDate.year + '/' + environ.createdDate.month + '/' + environ.createdDate.dayOfMonth
      }}
    </td>
  </tr>
  </tbody>
  <tbody ng-hide="vm.environs.length > 0">
  <tr>
    <td>No data</td>
    <td>No data</td>
    <td>No data</td>
    <td>No data</td>
    <td>No data</td>
  </tr>
  </tbody>
</table>

<h4>Realtime statistics monitor (current hour)</h4>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Last update</th>
    <th>Highest Temperature</th>
    <th>Lowest Temperature</th>
    <th>Average Temperature</th>
    <th>Average Humid</th>
    <th>Lowest Humid</th>
    <th>Average Humid</th>
    <th>Average Soil</th>
    <th>Lowest Soil</th>
    <th>Average Soil</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>{{ vm.environStat ?
      (vm.environStat.createdAt.hour + ':' + vm.environStat.createdAt.minute + ':' + vm.environStat.createdAt.second
      + ':' + (vm.environStat.createdAt.nano / (1000 * 1000) )
      + ' ' + vm.environStat.createdAt.year + '/' + vm.environStat.createdAt.month + '/' + vm.environStat.createdAt.dayOfMonth)
      : 'No data'}}</td>
    <td>{{ vm.environStat ? vm.environStat.highestTemp : 'No data'}}</td>
    <td>{{ vm.environStat ? vm.environStat.lowestTemp : 'No data'}}</td>
    <td>{{ vm.environStat ? vm.environStat.averageTemp : 'No data'}}</td>
    <td>{{ vm.environStat ? vm.environStat.highestHumid : 'No data'}}</td>
    <td>{{ vm.environStat ? vm.environStat.lowestHumid : 'No data'}}</td>
    <td>{{ vm.environStat ? vm.environStat.averageHumid : 'No data'}}</td>
    <td>{{ vm.environStat ? vm.environStat.highestSoil : 'No data'}}</td>
    <td>{{ vm.environStat ? vm.environStat.lowestSoil : 'No data'}}</td>
    <td>{{ vm.environStat ? vm.environStat.averageSoil : 'No data'}}</td>
  </tr>
  </tbody>
</table>

<h3>Statistics</h3>
<form ng-submit="vm.getStatistics()">
  <div class="form-group col-xs-12 col-sm-8 col-md-4">
    <label for="statistic-date">Date</label>
    <datepicker
      date-format="yyyy-MM-dd"
      date-max-limit={{vm.statisticsDateLimit}}
      button-prev="<i class=&quot;fa fa-arrow-circle-left&quot;></i>"
      button-next="<i class=&quot;fa fa-arrow-circle-right&quot;></i>"
    >
      <input id="statistic-date" class="form-control font-fontawesome font-light radius3 ng-pristine ng-valid ng-touched"
             ng-model="vm.statisticsDate" type="text" placeholder="&#xf073; Choose a date" style="font-family:Arial, FontAwesome" />
    </datepicker>
  </div>
  <div class="form-group col-xs-12 col-sm-8 col-md-4">
    <label for="statistic-time">Time</label>
    <select id="statistic-time"
            class="form-control"
            ng-model="vm.statisticsHour"
            ng-options="hour as hour for hour in vm.statisticsHourList"
    >
      <option value="" ng-selected="true">None</option>
      <option ng-repeat="hour in vm.statisticsHourList" value={{hour}}>{{hour}}</option>
    </select>
  </div>
  <div class="form-group col-xs-12 col-sm-8 col-md-4">
    <button type="submit" class="btn btn-primary">View</button>
  </div>
</form>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Date</th>
    <th>Highest Temperature</th>
    <th>Lowest Temperature</th>
    <th>Average Temperature</th>
    <th>Average Humid</th>
    <th>Lowest Humid</th>
    <th>Average Humid</th>
    <th>Average Soil</th>
    <th>Lowest Soil</th>
    <th>Average Soil</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>{{ vm.statistics ?
      (vm.statistics.createdAt.hour + ':' + vm.statistics.createdAt.minute + ':' + vm.statistics.createdAt.second
      + ':' + (vm.statistics.createdAt.nano / (1000 * 1000) )
      + ' ' + vm.statistics.createdAt.year + '/' + vm.statistics.createdAt.month + '/' + vm.statistics.createdAt.dayOfMonth)
      : 'Please select statistic date'}}</td>
    <td>{{ vm.statistics ? vm.statistics.highestTemp : 'Please select statistic date'}}</td>
    <td>{{ vm.statistics ? vm.statistics.lowestTemp : 'Please select statistic date'}}</td>
    <td>{{ vm.statistics ? vm.statistics.averageTemp : 'Please select statistic date'}}</td>
    <td>{{ vm.statistics ? vm.statistics.highestHumid : 'Please select statistic date'}}</td>
    <td>{{ vm.statistics ? vm.statistics.lowestHumid : 'Please select statistic date'}}</td>
    <td>{{ vm.statistics ? vm.statistics.averageHumid : 'Please select statistic date'}}</td>
    <td>{{ vm.statistics ? vm.statistics.highestSoil : 'Please select statistic date'}}</td>
    <td>{{ vm.statistics ? vm.statistics.lowestSoil : 'Please select statistic date'}}</td>
    <td>{{ vm.statistics ? vm.statistics.averageSoil : 'Please select statistic date'}}</td>
  </tr>
  </tbody>

</table>
